[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "libs/contracts/lib/forge-std"]
	path = libs/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
